{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-3 text-center">Djando CRUD Auth</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dignissimos vel exercitationem reprehenderit odio enim molestiae 
            pariatur provident quisquam, soluta quos eum id adipisci similique error explicabo aspernatur mollitia quis perferendis asperiores 
            eaque, minus fugit voluptate. A cum debitis dolorum atque odio libero. Accusantium reprehenderit, ab obcaecati aut nihil magni! 
            Et ut nulla itaque reiciendis voluptatem voluptatum vitae commodi aliquam ea odit! Nobis sequi voluptates nisi a, illo, illum 
            temporibus suscipit repudiandae ipsam eos velit nesciunt molestiae repellat accusamus doloribus ab. Aliquid iure nihil corrupti 
            voluptatem earum esse facere. Quos eveniet nemo molestias vitae fuga harum velit modi, perspiciatis nostrum?</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark" href="/signup/">
                    Signin
                </a>
            </div>

    </section>
</main>
{% endblock %}