{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <div class="row">
        <h1 class="text-center">Task Detail</h1>
        <div class="col-md-4 offset-md-4">
            {{error}}
            <div>
                <form method="POST" class="card card-body">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-secondary">
                        Actualizar
                    </button>
                </form>
    
                <form action="{% url 'complete_task' task.id %}" method="POST" class="card">
                    {% csrf_token %}
                    <button class="btn btn-success">
                        Completar
                    </button>
                </form>
    
                <form action="{% url 'delete_task' task.id %}" method="POST" class="card">
                    {% csrf_token %}
                    <button class="btn btn-danger">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}